@model ExcelDna.Documentation.Models.CategoryModel
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <link rel="stylesheet" type="text/css" href="helpstyle.css">
    <title></title>
</head>

<body>
    <table style="width: 100%">
        <tbody>
            <tr style="vertical-align: top">
                <td style="width: 100%">
                    <div>
                        <h2>@Model.Name Functions</h2>

                        <p>Click one of the links in the following list to see detailed help about the function.</p>
                        <br>

                        <div>
                            <table width="100%" cellspacing="0" style="font-size: 1em">
                                <tbody>
                                    <tr>
                                        <th style="text-align: left; width: 206px">Function</th>

                                        <th style="text-align: left">Description</th>
                                    </tr>

                                    @foreach (var function in @Model.Functions)
                                    {
                                        <tr>
                                            <th style="text-align: left; width: 206px">
                                                <a href="@(function.Name).htm">@function.Name</a>
                                            </th>

                                            <td>@function.Description</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <h3>See Also</h3>
                        <hr>
                        <a href="index.htm">UDF List</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>