@model ExcelDna.Documentation.Models.AddInModel
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <link rel="stylesheet" type="text/css" href="helpstyle.css">
    <title></title>
</head>

<body>
    <table style="width: 100%">
        <tbody>
            <tr style="vertical-align: top">
                <td style="width: 100%">
                    <div>
                        <h1>@Model.ProjectName Contents</h1>
                        <br>

                        @foreach (var group in Model.Categories)
                        {
                            <h3><a href="@group.Name Functions.htm">@group.Name Functions</a></h3>

                            foreach (var function in group.Functions)
                            {
                                <p><a href="@(function.Name).htm">@function.Name</a></p>
                            }
                        }

                        @if (Model.Commands.Count() != 0)
                        {
                            <h3><a href="@Model.ProjectName Commands.htm">@Model.ProjectName Commands</a></h3>
                            
                            foreach (var command in Model.Commands)
                            {
                                <p><a href="@(command.Name).htm">@command.Name</a></p> 
                            } 
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>